#elementorOffers{
    
        a{
            padding: 10px;
            background-color: #0465d2;
        }
    .build-width-elementor{
        border: 1px solid #e2e2e2;
        padding: 30px 10px;
        background-image: url(/Assets/photos/blackbackgorundPhoto.jpg);
        background-position: center center;
        background-size: cover;
    
        p{
            color: #7d7d7d;
            width: 63%;
        }
    }
    .create-and-customize{
        border: 1px solid #e2e2e2;
        padding: 30px 10px;
        background-image: url(/Assets/photos/banner-1.jpg);
        background-position: center center;
        background-size: cover;
        p{
            color: #7d7d7d;
            width: 63%;
        }
    }


}


#alertSection{
    i{
        color: #ff6000;
        margin-right: 10px
    }
    .line{
        width: 100%;
        height: 2px;
        background-color: #ff6000;
        
    }
    a{
        background-color: #ff6000;
        width: auto;
        padding: 12px 17px;
        color: #fff;
        border-radius: 5px;
        margin: 0 auto;
        width: 13%;
        display: block;
    }
}
